body
{
    background-size: cover;
    background-position: center;
}

.heading
{
font-size: 50px;
width: 100%;
margin: 0px;
font-weight: bold;
}

#status, #number_of_objects
{
font-size: 18px;
}

canvas
{
    margin-top: 30px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}

.notice
{
    font-size: 25px;
    color: rgb(139, 28, 0);
    width: 100%;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}